{% extends "clubBase.njk" %}
{% block mainInfo %}
    <title> Vr Movie Club - Admin ERROR </title>
{% endblock %}

{% block content %}
  <h1 class="red">Your not logged in as Admin</h1>

  <h2 class="red"> - Maybe your lost?? - </h2>
<nav class="footer"><a href="./">Go Home</a>
                        
                </nav>
{% endblock %}