{% extends "clubBase.njk" %}

{% block mainInfo %}
	<title>Vr Club - Blog</title>
{% endblock %}

{% block content %}

   <header>
         <h1>Welcome to the blog!!</h1>
        
         
   </header>
       
{% endblock %}