{% extends "clubBase.njk" %}
{% block mainInfo %}
    <title>Error - Password</title>
{% endblock %}

{% block content %}
    <header>
        <h1> - ERROR - </h1>
        
    </header>
    <h2 class="red"> - WRONG PASS - </h2>
<nav class="footer"><a href="./login">Try Again</a>
                        
                </nav>
{% endblock %}