{% extends "clubBase.njk" %}
{% block mainInfo %}
    <title> Vr Movie Club - login ERROR </title>
{% endblock %}

{% block content %}
  <h1 class="red">Error - maybe check your password</h1>

  <h2 class="red"> - sorrry - </h2>
<nav class="footer"><a href="./">Go Home</a>
                        
                </nav>
{% endblock %}